<!DOCTYPE html>
<html lang="en" ng-app="imatch">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Intergalactic Match</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/acore.js"></script>
    </head>
    <body ng-controller="theController">

    <!--navbar here?-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-click="showAboutModal()" class="navbar-brand" href="#">About</a>
            </div>
            <div class="collapse navbar-collapse" style="">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="" style="">Explore</a>

                    </li>
                    <li><a href="#" class="">Something</a>

                    </li>
                    <li><a href="#" class="">Nothing</a>

                    </li>
                    <li><a href="#" class="" contenteditable="false">Sign in</a>

                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

        <!--logo/heading-->
        <div class="container">
            <div class="center-block text-center logo">
                <h1>Intergalactic Match</h1>
                <p class="lead">There's no such thing as a Long Distance Relationship
                 to those who have Warp Drive Technology</p>
            </div>
            <div class="row">
                <!--Left column  -->
                <div class="panel panel-default col-md-5 roundy">
                    <div>
                        <h2>Your Profile</h2>
                        <img ng-show="!myprof.hasimage" style="margin-bottom: 20px;" align="left" class="img-circle" src="http://hhhhold.com/120">
                        <img ng-show="myprof.hasimage" style="margin-bottom: 20px;" align="left" class="img-circle" width="120" src="/images/{{me.id}}.jpg">
                        <div class="panel panel-default rhole pull-right" style="max-width: 300px">
                            <ul>
                            <li>Age: {{myprof.age}}</li>
                            <li>From: {{myprof.planet}}</li>
                            <li>Seeking a {{myprof.seeking}} for {{myprof.seekingfor}}</li>
                            <li>About me: {{myprof.about}}</li>
                            <li>Interests: {{myprof.interests}}</li>
                            </ul>
                        </div>
                        <a href ng-click="uploadingImage = !uploadingImage"
                           class="col-md-4 btn btn-primary btn-lg">Upload Image</a>
                        <a href ng-click="editingProfile = !editingProfile"
                           class="col-md-offset-4 col-md-4 btn btn-primary btn-lg">Edit Profile</a>
                    </div>

                    <!--file upload form, normally hidden-->
                    <div>
                        <form ng-show="uploadingImage" ng-model="imgForm" class="form col-md-12 center-block" style="float: inherit">

                            <input id="fb" name="inboundFile" type="file" style="visibility: hidden;">

                            <div class="form-group">
                                <button type="button" onclick="$('#fb').click();" class="btn btn-primary btn-lg btn-block">Choose Image</button>
                            </div>
                            <div class="form-group">
                                <button type="button" ng-click="uploadImage()" class="btn btn-primary btn-lg btn-block">Upload</button>
                            </div>
                        </form>
                    </div>

                    <!--profile edit form, normally hidden-->
                    <div>
                        <form ng-show="editingProfile" class="form col-md-12 center-block" style="float: inherit">
                            <!--<input type="hidden" name="userid" value="{{user._id}}">-->
                            <div class="form-group">
                                <label>Home Planet</label>
                                <input name="planet" type="text" class="form-control" ng-model="myprof.planet">
                            </div>
                            <div class="form-group">
                                <label>age</label>
                                <input name="age" type="number" class="form-control" ng-model="myprof.age">
                            </div>
                            <div class="form-group">
                                <label>seeking<br>
                                    <select class="form-control" name="seeking" ng-model="myprof.seeking">
                                        <option>Neptunian</option>
                                        <option>Earthling</option>
                                        <option>Android</option>
                                        <option>Cyborg</option>
                                        <option>Kryptonian</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>For</label>
                                <div class="radio">
                                    <label>
                                        <input ng-model="myprof.seekingfor" type="radio" name="seekingfor" id="optionsRadios1" value="Planetary Domination">
                                        Planetary Domination
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="myprof.seekingfor" type="radio" name="seekingfor" id="optionsRadios2" value="Spawning" checked>
                                        Brood Spawning
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="myprof.seekingfor" type="radio" name="seekingfor" id="optionsRadios3" value="Fun">
                                        Just Fun!
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>interests</label>
                                <input ng-model="myprof.interests" style="height: 200px" name="interests" type="text" class="form-control input-lg">
                            </div>
                            <div class="form-group">
                                <label>headline</label>
                                <input ng-model="myprof.headline" style="height: 200px" name="headline" type="text" class="form-control input-lg">
                            </div>
                            <div class="form-group">
                                <label>About Me</label>
                                <input ng-model="myprof.about" style="height: 200px" name="about" type="text" class="form-control input-lg">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--right column-->
                <!--show other profiles here-->
                <div class="panel panel-default col-md-6 col-md-offset-1 roundy">
                    <div class="row" style="margin-bottom: 20px">
                        <h2 class="col-md-6">Matches</h2>
                        <div class="col-md-6" style="margin-top: 20px">
                            <label>Filter:</label>
                            <input type="text" ng-model="profFilter"/>
                        </div>
                    </div>
                    <div ng-repeat="prof in profiles | filter:profFilter" ng-click="showProfModal(prof)" class="row" style="cursor: pointer">
                        <img align="left" class="img-circle col-md-4" src="http://hhhhold.com/120?{{prof.age}}">
                        <div class="panel panel-default rhole col-md-8" style="min-height: 120px;">
                            <ul>
                                <li>Age: {{prof.age}}</li>
                                <li>From: {{prof.planet}}</li>
                                <li>Seeking a {{prof.seeking}} for {{prof.seekingfor}}</li>
                                <li>About me: {{prof.about}}</li>
                                <li>Interests: {{prof.interests}}</li>
                            </ul>
                        </div>
                    </div><!--ng-repeat-->

                </div>

                <!--modal for profile viewing goes here-->
                <div id="profModal" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-hidden="true" >
                    <div class="modal-dialog">
                        <div class="modal-content roundy">
                            <div class="modal-header">
                                <h3 class="text-center">{{profView.headline}}</h3>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr><td>Age:       </td><td>{{profView.age}}        </td></tr>
                                    <tr><td>From:      </td><td>{{profView.planet}}     </td></tr>
                                    <tr><td>Seeking    </td><td>a {{profView.seeking}} for {{profView.seekingfor}}</td></tr>
                                    <tr><td>About me:  </td><td>{{profView.about}}      </td></tr>
                                    <tr><td>Interests: </td><td>{{profView.interests}}  </td></tr>
                                </table>
                            </div>

                            <div class="modal-footer">
                                <div class="col-md-2 col-md-offset-10">
                                    <button type="submit" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--about page modal-->
                <div id="aboutModal" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-hidden="true" >
                    <div class="modal-dialog">
                        <div class="modal-content roundy">
                            <div class="modal-header">
                                <h3>About Intergalactic Match</h3>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>Programmed by Peter Lindberg</li>
                                    <li>Backend runs on express for node.js</li>
                                    <li>Database is MongoDB, connected via mongoose for node</li>
                                    <li>login/register page uses vanilla jquery ajax</li>
                                    <li>main page (this one) uses Angular.js</li>
                                    <li>toastr.js for error/success messages</li>
                                </ul>
                            </div>

                            <div class="modal-footer">
                                <div class="col-md-2 col-md-offset-10">
                                    <button type="submit" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </body>
</html>