body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.roundy {
    padding: 25px;
    border-radius: 10%;
    background-color: aquamarine;
    box-shadow: 1em .75em 0px 1em cornflowerblue;
}

.rhole {
    background-color: cornflowerblue;
    border-radius: 15px;
    box-shadow: inset .5em .5em 10px;
    padding: 15px;
}