@font-face {
    font-family: 'alien';
    src: url('../fonts/fr-fal1.ttf');
}

@font-face {
    font-family: 'hyperspace';
    src: url('../fonts/Hyperspace.ttf');
}

@font-face {
    font-family: 'robo';
    src: url('../fonts/ROBO.TTF');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/CW_Leonis_big_melt.jpg) no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

h1 {
    font-family: 'hyperspace', sans-serif;
}

.alienprofile {
    font-family: 'alien', sans-serif;
    font-size: larger;
}

.profile {
    font-family: 'robo', sans-serif;
}


.roundy {
    padding: 25px;
    border-radius: 50px;
    background-color: aquamarine;
    box-shadow: 1em .75em 0px 1em cornflowerblue;
}

.rhole {
    background-color: cornflowerblue;
    border-radius: 15px;
    box-shadow: inset .5em .5em 10px;
    padding: 15px;
}

.logo {
    color: lightblue;
}

label.error {
    color: red;
}

input.error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}